.box {
  background-color: black;
  float: left;
  border: 5px solid gray;
}

#box1 {
	height: 400px;
	width: 200px;
}

#box2 {
	height: 300px;
	width: 300px;
}

#box3 {
	height: 300px;
	width: 500px;
}
