html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

/*.isotope,*/
/*.isotope .isotope-item {*/
  /*-webkit-transition-duration: 0.8s;*/
     /*-moz-transition-duration: 0.8s;*/
      /*-ms-transition-duration: 0.8s;*/
       /*-o-transition-duration: 0.8s;*/
          /*transition-duration: 0.8s;*/
/*}*/

/*.isotope {*/
  /*-webkit-transition-property: height, width;*/
     /*-moz-transition-property: height, width;*/
      /*-ms-transition-property: height, width;*/
       /*-o-transition-property: height, width;*/
          /*transition-property: height, width;*/
/*}*/

/*.isotope .isotope-item {*/
  /*-webkit-transition-property: -webkit-transform, opacity;*/
     /*-moz-transition-property:    -moz-transform, opacity;*/
      /*-ms-transition-property:     -ms-transform, opacity;*/
       /*-o-transition-property:         top, left, opacity;*/
          /*transition-property:         transform, opacity;*/
/*}*/

/*[>*** disabling Isotope CSS3 transitions ***<]*/

/*.isotope.no-transition,*/
/*.isotope.no-transition .isotope-item,*/
/*.isotope .isotope-item.no-transition {*/
  /*-webkit-transition-duration: 0s;*/
     /*-moz-transition-duration: 0s;*/
      /*-ms-transition-duration: 0s;*/
       /*-o-transition-duration: 0s;*/
          /*transition-duration: 0s;*/
/*}*/


$header-h1: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
$header-h1: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

body {
  font-family: $header-h1;
  position: relative;
}


.item {
  margin: 5px;
  overflow: hidden;
}

.hover {
  position: absolute;
  height: 40px;
  display: block;
  /*margin-top: 2px;*/
  width: 100%;
  background: #fff;
  opacity: .8;
}

#item-description {
  position: absolute;
  height: 400px;
  width: 200px;
  z-index: 4;
  background-color: #000;
  color: #eee;
  top: 200px;
  left: -400px;
  padding-left: 10px;
}

.nav-arrow {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -120px;
  left: 40px;
  border: 1px solid #eee;
  border-top: none;
  border-right: none;
  z-index: 10;

  &:hover {
    border-color: red;
  }

}

#up {
  top: -148px;
}

#down {
  top: -92px;
}

#back {
  left: 10px;
}

#markers {
  position: relative;
  left: -45px;
  top: -25px;
  //font-weight: bold;
  font-size: 1em;
  letter-spacing: 4px;
  overflow: hidden;

  .selected-marker {
    color: red;
  }

  span {
    margin: -3px;
    background-color: transparent;
  }

}

#arrows {
  position: relative;
  left: 40px;
  top: 50px;
}


header {
  width: 100%;
  background: #444;
  color: #eee;
  height: 30px;
  display: block;

  h1 {
    letter-spacing: 1px;
    padding: 5px;
    margin-left: 20px;
    font-weight: 500;
  }
}

#container {
  position: relative;
  background: #000;
}
