/* line 1, ../sass/app.scss */
body {
  background: #111;
}
/* line 3, ../sass/app.scss */
body * {
  box-sizing: border-box;
}

/* line 6, ../sass/app.scss */
.box {
  background-color: #ccc;
  float: left;
  border: 4px solid #eee;
  position: relative;
  margin: 2px;
}
/* line 13, ../sass/app.scss */
.box img {
  width: 100%;
  height: 100%;
  margin: 0px;
}

/* line 20, ../sass/app.scss */
#box1 {
  height: 562px;
  width: 370px;
  background: transparent;
}

/* line 26, ../sass/app.scss */
#box7 {
  height: 412px;
  width: 390px;
  float: right;
}

/* line 32, ../sass/app.scss */
#box3 {
  height: 204px;
  width: 204px;
}

/* line 37, ../sass/app.scss */
#box4 {
  height: 400px;
  width: 300px;
  clear: left;
}

/* line 43, ../sass/app.scss */
#box5 {
  height: 300px;
  width: 460px;
}

/* line 48, ../sass/app.scss */
#box6 {
  height: 300px;
  width: 204px;
}

/* line 53, ../sass/app.scss */
#box2 {
  height: 204px;
  width: 204px;
}

/* line 58, ../sass/app.scss */
#box8 {
  height: 146px;
  width: 598px;
}

/* line 63, ../sass/app.scss */
.row {
  border: 2px #444 solid;
  background: #444;
}

/* line 68, ../sass/app.scss */
header {
  background: #232323;
  width: 100.0%;
  height: 34px;
  box-sizing: content-box;
  border-left: 2px solid #232323;
  border-right: 2px solid #232323;
  left: -2px;
  top: -2px;
  position: relative;
  margin-bottom: 2px;
  color: white;
  font-weight: bold;
  position: relative;
}
/* line 81, ../sass/app.scss */
header p {
  padding-top: 8px;
  padding-left: 20px;
}
/* line 83, ../sass/app.scss */
header ul {
  margin-bottom: 2px;
}
/* line 85, ../sass/app.scss */
header ul li {
  float: left;
}

/* line 91, ../sass/app.scss */
#item-description {
  color: #ddd;
  position: absolute;
  left: -100%;
  top: 25%;
  width: 125px;
}
/* line 94, ../sass/app.scss */
#item-description h4 {
  color: #ddd;
  font-size: 16px;
  margin-bottom: 15px;
}
/* line 99, ../sass/app.scss */
#item-description p {
  font-size: 11px;
}

/* line 108, ../sass/app.scss */
.nav-arrow {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -120px;
  left: 40px;
  border: 1px solid #eee;
  border-top: none;
  border-right: none;
}

/* line 119, ../sass/app.scss */
#up {
  top: -148px;
}

/* line 123, ../sass/app.scss */
#down {
  top: -92px;
}

/* line 127, ../sass/app.scss */
#back {
  left: 10px;
  border-color: red;
}

/* line 133, ../sass/app.scss */
#markers {
  font-size: 30px;
  position: absolute;
  top: -118px;
  left: 44px;
  overflow: hidden;
}
