/* line 12, ../sass/index2.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 23, ../sass/index2.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../sass/index2.scss */
body {
  line-height: 1;
}

/* line 29, ../sass/index2.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../sass/index2.scss */
blockquote, q {
  quotes: none;
}

/* line 36, ../sass/index2.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
/* line 47, ../sass/index2.scss */
ins {
  text-decoration: none;
}

/* line 50, ../sass/index2.scss */
del {
  text-decoration: line-through;
}

/* line 54, ../sass/index2.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**** Isotope Filtering ****/
/* line 61, ../sass/index2.scss */
.isotope-item {
  z-index: 2;
}

/* line 65, ../sass/index2.scss */
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/
/*.isotope,*/
/*.isotope .isotope-item {*/
/*-webkit-transition-duration: 0.8s;*/
/*-moz-transition-duration: 0.8s;*/
/*-ms-transition-duration: 0.8s;*/
/*-o-transition-duration: 0.8s;*/
/*transition-duration: 0.8s;*/
/*}*/
/*.isotope {*/
/*-webkit-transition-property: height, width;*/
/*-moz-transition-property: height, width;*/
/*-ms-transition-property: height, width;*/
/*-o-transition-property: height, width;*/
/*transition-property: height, width;*/
/*}*/
/*.isotope .isotope-item {*/
/*-webkit-transition-property: -webkit-transform, opacity;*/
/*-moz-transition-property:    -moz-transform, opacity;*/
/*-ms-transition-property:     -ms-transform, opacity;*/
/*-o-transition-property:         top, left, opacity;*/
/*transition-property:         transform, opacity;*/
/*}*/
/*[>*** disabling Isotope CSS3 transitions ***<]*/
/*.isotope.no-transition,*/
/*.isotope.no-transition .isotope-item,*/
/*.isotope .isotope-item.no-transition {*/
/*-webkit-transition-duration: 0s;*/
/*-moz-transition-duration: 0s;*/
/*-ms-transition-duration: 0s;*/
/*-o-transition-duration: 0s;*/
/*transition-duration: 0s;*/
/*}*/
/* line 113, ../sass/index2.scss */
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  position: relative;
}

/* line 119, ../sass/index2.scss */
.item {
  margin: 5px;
  opacity: 0.7;
  overflow: hidden;
}

/* line 125, ../sass/index2.scss */
.hover {
  position: relative;
  height: 40px;
  display: block;
  z-index: 4;
  left: 0px;
  background: #fff;
}

/* line 136, ../sass/index2.scss */
#item-description {
  position: absolute;
  height: 400px;
  width: 200px;
  z-index: 4;
  background-color: #000;
  color: #eee;
  top: 200px;
  left: -400px;
  padding-left: 10px;
}

/* line 148, ../sass/index2.scss */
.nav-arrow {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -120px;
  left: 40px;
  border: 1px solid #eee;
  border-top: none;
  border-right: none;
  z-index: 10;
}
/* line 159, ../sass/index2.scss */
.nav-arrow:hover {
  border-color: red;
}

/* line 165, ../sass/index2.scss */
#up {
  top: -148px;
}

/* line 169, ../sass/index2.scss */
#down {
  top: -92px;
}

/* line 173, ../sass/index2.scss */
#back {
  left: 10px;
}

/* line 177, ../sass/index2.scss */
#markers {
  position: relative;
  left: -45px;
  top: -25px;
  font-size: 1em;
  letter-spacing: 4px;
  overflow: hidden;
}
/* line 186, ../sass/index2.scss */
#markers .selected-marker {
  color: red;
}
/* line 190, ../sass/index2.scss */
#markers span {
  margin: -3px;
  background-color: transparent;
}

/* line 197, ../sass/index2.scss */
#arrows {
  position: relative;
  left: 40px;
  top: 50px;
}

/* line 204, ../sass/index2.scss */
header {
  width: 100%;
  background: #444;
  color: #eee;
  height: 30px;
  display: block;
}
/* line 211, ../sass/index2.scss */
header h1 {
  letter-spacing: 1px;
  padding: 5px;
  margin-left: 20px;
  font-weight: 500;
}

/* line 219, ../sass/index2.scss */
#container {
  position: relative;
  background: #000;
}
